<!DOCTYPE html>
<html>
<head>
	<title>{{pageTitle}}</title>
</head>
<body>
	<h1>{{pageTitle}}</h1>
	<h3>This is where you find info of movie of your choice</h3>
	<form action="/submit" method="post">
		<span>Movie:</span>
		<input type="text" name="title">
		<button type="submit">Submit</button>
	</form>
</body>
</html>