<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>{{msg}}</h1>
	<h3>You typed: {{userChoice}}</h3>
	<h3>Correct Answer: {{correctAnswer}}</h3>
	<h2>Score: {{score}}</h2>
	<a href="/game">Go Back to Guess a Movie Section</a>
</body>
</html>